rich==13.7.1
markdown-it-py==2.2.0
streamlit==1.32.2

numpy==1.26.1
pandas==2.1.1
matplotlib==3.5.3
seaborn==0.13.0
openpyxl==3.1.2
plotly==5.18.0
altair==5.3.0

# Prophet (sem pystan!)
prophet==1.1.5
cmdstanpy==1.2.0

# Arima / Statsmodels / Scipy (fix para Python 3.11)
scipy==1.11.4
statsmodels==0.14.2
pmdarima==2.0.4

scikit-learn==1.4.2
setuptools
streamlit-option-menu==0.3.13
mysql-connector-python

# NeuralProphet
neuralprophet==1.0.0rc10
torch==2.2.2
